<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="C:\NuGet" />
    <add key="DefaultPushSource" value="C:\NuGet" />
  </config>
  <packageRestore>   
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>  
  <packageSources>
    <add key="NuGet " value="https://nuget.org/api/v2/" />
    <add key="local" value="C:\NuGet" />
  </packageSources>  
  <activePackageSource>
	<add key="local" value="C:\NuGet" />
	<add key="NuGet " value="https://nuget.org/api/v2/" />
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <apikeys>
    <add key="https://www.myget.org/F/domen_kogler/api/v2/package" value="3214ff94-bd02-4ab3-988c-8cf77d446dc8" />
  </apikeys>
</configuration>